/** Main layout **/

html, body {
    background: #364B66 !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** minterface layout **/
#title{
	position: absolute;
    top: 10%;
    left:40%;
    width: 400px;
    border: 3px solid #333;
    padding: 20px;
    background: #fff;
    text-align: center;
}

#label_name{
	position:absolute;
	top:30%;
	right:45%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#username{
	position:absolute;
	top:30%;
	left:60%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#label_pwd{
	position:absolute;
	top:40%;
	right:45%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#userpwd{
	position:absolute;
	top:40%;
	left:60%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#label_content{
	position:absolute;
	top:50%;
	right:45%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#usercontent{
	position:absolute;
	top:50%;
	left:60%;
    width: 200px;
    padding: 10px;
    background: #fff;
    text-align: center;
}

#query{
	position:absolute;
	top:55%;
	left:54%;
	width:100px;
	height:50px;
}

#register{
	position:absolute;
	top:65%;
	left:53%;
	width:100px;
	height:50px;
}

/** newPost layout **/

#blogHeader{
	position: absolute;
    top: 5%;
    left:10%;
    width: 400px;
    border: 3px solid #333;
    padding: 20px;
    text-align: center;
}

#post-title{
	position:absolute;
	top:20%;
	left:10%;
    width: 200px;
    padding: 10px;
    font-weight: 900;
    text-align: center;
}

#blog-title{
	position:absolute;
	top:25%;
	left:10%;
    width: 400px;
    padding: 10px;
    text-align: center;
}

#post-content{
	position:absolute;
	top:33%;
	left:10%;
    width: 200px;
    padding: 10px;
    font-weight: 900;
    text-align: center;
}

#blog-content{
	position:absolute;
	top:40%;
	left:10%;
    width:400px;
    height:200px;
    padding: 10px;
    text-align: center;
}

#blog-publish{
	position:absolute;
	top:80%;
	left:30%;
	width:150px;
	height:50px;
}

#newPost{
	background: #fff;
}