#{extends 'main.html' /}
#{set title:'minterface' /}

<div class="${_as}">
<h2 id="title">The ${_as} form</h2>
#{if _as == 'login'}
<div id="login">
		#{form @checkUser()} 
			#{if flash.error}
				<p class="error">${flash.error}</p>
			#{/if}
			<p>
			<label id="label_name">User Name</label>
			<input type="text" name="username" id="username">
			</p>
			<p>
			<label id="label_pwd">User Password</label>
			<input type="password" name="userpwd" id="userpwd">
			</p>
			<p>
			<label></label>
			<input type="submit" id="query"  value="query" >
			</p>
			#{/form}
	</div>
#{/if}
#{if _as == 'register'}
	<div id="login">
		#{form @registerUser()} 
			#{if flash.error}
				<p class="error">${flash.error}</p>
			#{/if}
			<p>
			<label id="label_name">User Name</label>
			<input type="text" name="username" id="username" value=${username}>
			</p>
			<p>
			<label id="label_pwd">User Password</label>
			<input type="password" name="userpwd" id="userpwd" value=${userpwd}>
			</p>
			<p>
			<label id="label_content">User Content</label>
			<input type="text" name="usercontent" id="usercontent">
			</p>
			<p>
			<label></label>
			<input type="submit" id="register"  value="register" >
			</p>
			#{/form}
	</div>
#{/if}
</div>