#{extends 'main.html' /}
#{set title:'minterface' /}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/ui-lightness/jquery-ui-1.7.2.custom.css'}" />
#{/set}

#{ifErrors}
<div class="error">
	<h2 class="header">please correct these errors</h2>
</div>
#{/ifErrors}

<div class="minterface">
<h2 class="title">The ${_as} form</h2>
#{if _as == 'login'}
		#{form @Application.checkUser()} 
			#{if flash.error}
				<p class="error">${flash.error}</p>
			#{/if}
			<p class="login">
			<label class="label_name">User Name</label>
			<input type="text" name="username" class="username">
			 
			<label class="label_pwd">User Password</label>
			<input type="password" name="userpwd" class="userpwd">
			<input type="submit" class="query"  value="query" >
			</p>
			#{/form}
#{/if}
#{if _as == 'register'}
		#{form @Register.registerUser()} 
			<div class="register_name">
			<label class="label_name">User Name</label>
			<input type="text" name="username" class="username" value=${_username}>
			<span class="error">#{error 'username' /}</span>
			 </div>
			 
			 <div class="register_pwd">
			<label class="label_pwd">User Password</label>
			<input type="password" name="userpwd" class="userpwd" value=${_userpwd}>
			 <span class="error">#{error 'userpwd' /}</span>
			 </div>
			 
			 <div class="register_content">
			<label class="label_content">User Content</label>
			<select name = "usercontent"class="usercontent">
			<option></option>
			<option value="student">student</option>
			<option value="job">job</option>
			<option value="retired">retired</option>
			</select>
			<span class="error">#{error 'usercontent' /}</span>
			<input type="submit" class="register"  value="register" >
			</div>
			
			<div class="register_bornday">
			<label class="label_bornday">bornDay</label>
			<input type="text" class="datepicker" name="bornday" value="${_bornday}"/>
			<span class="error">#{error 'bornday' /}</span>
			</div>
			
			<div class="register_code">
			<label class="label_code">enter the code:</label>
			<img src="@{Register.captcha(randomID)}" class="iamge"/>
			<br/>
			<input type="text" name="code" class="code" size="18" value=""/>
			<input type="hidden" name="randomID" value="${randomID}"/>
			</div>
			#{/form}
#{/if}
</div>

<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>
</div>