#{extends 'main.html' /}
#{set title:'commentDetailPage' /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}"> 

<a href="@{Application.index()}" id="header">Log out</a>
<a href="@{Blog.blog(post.author?.id)}"  id="back">BackToBlog</a>

#{if paginator.size() > 0}
	#{paginate.list items:paginator, as:'comment'}
	<h2>${comment.content} by ${comment.author} postedAt ${comment.postedAt.format('HH:mm:ss-yyyy-MM-dd')}</h2>
	#{/paginate.list}
	#{paginate.controls items:paginator /} 
#{/if}